# models
*.keras
logs/

# Reference files and folders
references/

# Large files
dataset/*
!dataset/README.txt
!dataset/*.py
*.h5
*.pickle

# Editor config files
__pycache__/
.ipynb_checkpoints/
.idea/
.env/
.vscode/
