# Reference files and folders
resources/
references/
test_notebooks/

# Large files
dataset/glove.6B.50d.txt
dataset/*.pickle
dataset/Others/
dataset/annotations/*.json
dataset/train2017/*.jpg
dataset/val2017/*.jpg

# Editor config files
__pycache__/
.ipynb_checkpoints/
.idea/
.env/
.vscode/
