# Reference files and folders
resources/
references/
test_notebooks/

# Large files
dataset/glove.6B.50d.txt
dataset/*.pickle
dataset/*.json
dataset/*.h5
dataset/Others/
dataset/annotations/
dataset/train2017/
dataset/val2017/

# Editor config files
__pycache__/
.ipynb_checkpoints/
.idea/
.env/
.vscode/
